.vs/
packages/

NS.STMS.Business/bin/
NS.STMS.Business/obj/

NS.STMS.Caching/bin/
NS.STMS.Caching/obj/

NS.STMS.Core/bin/
NS.STMS.Core/obj/

NS.STMS.DAL/bin/
NS.STMS.DAL/obj/

NS.STMS.DTO/bin/
NS.STMS.DTO/obj/

NS.STMS.Entity/bin/
NS.STMS.Entity/obj/

NS.STMS.Settings/bin/
NS.STMS.Settings/obj/

NS.STMS.API/bin/
NS.STMS.API/obj/
NS.STMS.API/appsettings.Development.json
NS.STMS.API/appsettings.json
NS.STMS.API/NS.STMS.API.csproj.user

/readme.txt
/NS.STMS.API/appsettings.json
